$cols: 12;
$gutter-width: 30px;
$single-gutter: rem($gutter-width / 2);
$extension: 75px;

@function col($n) {
  @return rem($n * 100);
}

@mixin g($cols) {
  width: col($cols);
  padding-left: $single-gutter;
  padding-right: $single-gutter;
}

//
// Desktop Stuff
//

@include desk-up {
  @for $i from 1 through $cols - 1 {
    .g#{$i} {
      @include g($i);
    }
  }

  .g12 {
    @include g(12);
    width: auto;
  }

  .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: rem(135);
    padding-right: rem(135);

    &.grid {
      padding-left: rem(120);
      padding-right: rem(120);
    }
  }
}

@include desk-up {
  .inline-grid {
    > div {
      display: inline-block;
      margin-right: -0.25em;
    }

    &.top {
      > div {
        vertical-align: top;
      }
    }

    &.middle {
      > div {
        vertical-align: middle;
      }
    }

    .pull-ext {
      margin-left: col(-1);
      padding-left: rem(25 + 15);
    }

    .pull-1 {
      margin-left: col(-1);
    }

    .push-1 {
      margin-left: col(1);
    }
  }
}

.overflow {
  margin-left: rem(-$extension);
  margin-right: rem(-$extension);
}

//
// Mobile Stuff
//
@include tab-down {
  .container {
    margin-left: rem(66);
    margin-right: rem(66);
  }

  .overflow {
    margin-left: rem(-66 + 32);
    margin-right: rem(-66 + 32);
  }
}

@include phab-down {
  .container {
    margin-left: rem(32);
    margin-right: rem(32);
  }

  .overflow {
    margin-left: rem(-32);
    margin-right: rem(-32);
  }
}
